<div ng-include="global.navUrl"></div>

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">View Gallery</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>{{singleGallery.name}}</h2>
        <p><i>Created By {{singleGallery.user.name}} {{singleGallery.created_at}}</i></p>
    </div>
</div>


<div class="row">
    <div class="col-sm-3" ng-repeat="(key,value) in singleGallery.images">
        <a ng-click="openLightboxModal($index)" class="thumbnail">
            <img ng-src="{{value.thumbUrl}}">
        </a>
        <span><a ng-click="deleteImage(value.file_id)" style="cursor: pointer">Delete</a> </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form action="/file-upload"
              class="dropzone"
              id="my-awesome-dropzone" dropzone="dropzoneConfig"></form>
    </div>
</div>